env:
  browser: true
  es6: true
  node: true
parserOptions:
  ecmaVersion: 7
  ecmaFeatures:
    jsx: true
    experimentalObjectRestSpread: true
  sourceType: module
globals:
    THREE: true
rules:
  indent:
    - error
    - 2
  linebreak-style:
    - error
    - unix
  quotes:
    - error
    - single
  semi:
    - error
    - always
  jsx-quotes:
    - 2
    - prefer-double
  react/react-in-jsx-scope:
    - 0
  react/prop-types:
    - 0
  react/display-name:
    - 0
plugins:
  - react
parser: babel-eslint
extends:
  - eslint:recommended
  - plugin:react/recommended
